<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body, html {
            width:100%;
            margin:0;
            padding:0;
        }

        #app {
            padding:50px 0px;
        }
    </style>
    <link rel='stylesheet' type='text/css' href='../dist/css/calendar_evolved.css'>
    <script type='text/javascript' src='../dist/js/calendar_evolved.js'></script>
</head>
<body>
    <div id='main'>
        <div id='app'></div>
    </div>
</body>
<script>
    _cal.setup({
        el: '#app',
        specialDay : {
            '12-4':'ver',
            '12-5':'IE',
            '12-6':'EDIT'
        }
    })
</script>
</html>