<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body, html {
            width:100%;
            margin:0;
            padding:0;
        }

        #main {
            text-align: center;
            margin-top:100px;
            width: 100%;
        }
    </style>
    <link rel='stylesheet' type='text/css' href='../dist/css/calendar_evolved.css'>
    <script type='text/javascript' src='../dist/js/calendar_evolved.js'></script>
</head>
<body>
    <div id='main'>
        <div id='app'></div>
    </div>
</body>
<script>
    _cal.setup({
        el: '#app',
        specialDay : {
            '11-27' : '하루전',
            '11-29' : '내일',
        },
        titleComstom : {
            left : "<div id='left-btn'>이전달</div>",
            center : "<div class='calendar'>{yyyy년 mm월}</div>",
            right: "<div id='right-btn'>다음달</div>"
        },
        unabledDay: true
    })

    console.log(_cal)
</script>
</html>